<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mission_9</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="~/img/icons8-open-book.gif" width="30" height="30" class="d-inline-block align-top" alt="" />
            <b>BOOKSTORE</b>
        </a>
    </nav>

    <div class="m-1 p-1">
        @RenderBody()
    </div>

    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            </ul>
            <p class="text-center text-muted">&copy; 2023 Brandon Griffiths</p>
        </footer>
    </div>
</body>
</html>
