@{
}

@model IEnumerable<string>
<div class="d-grid gap-2">
    <a asp-controller="Home" asp-action="Index" asp-route-Category="" asp-route-pageNum="1" class="btn btn-outline-secondary">Home</a>

    <br />

    @foreach (string t in Model)
    {
        // prints out links to each category on the left side of the page
        <a asp-controller="Home" asp-action="Index" asp-route-Category="@t" asp-route-pageNum="1"
           class=" btn @(ViewBag.SelectedCategory == t ? "btn-primary" : "btn-outline-secondary")">@t</a>
        <br />
    }

</div>